*,
::before,
::after {
  box-sizing: border-box;
  /* Формат розрахунку загального розміру елементів */
}

.container {
  /* Налаштування контейнерів які містять у собі весь контент сайту */
  width: 100%;
  position: relative;
  /* Базова ширина 1240px +2 padding по 24px зліва і справа 1240+48=1288px */
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
  z-index: auto;
}

body {
  // overflow-x: hidden;
  width: 100%;
  font-family: "Roboto", sans-serif;
  /* Налаштування базового шрифта сторінки */
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  /* Висота строки визначається співвідношенням висоти строки до розміру шрифту */
  color: var(--color-brand-dark);
  /* Налаштування кольору основного тексту */
  margin: 0;
}

.nav-icons {
  fill: var(--color-icon-regular);
  /* Визначає колір заливки svg-елемента */
}

ul {
  /* Налаштування списків */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* Видалення відступів зверху для заголовків та тексту (щоб не було випадання або схлопування */
  margin-top: 0;
}

a {
  display: inline-block;
  /* Такий параметр запобігає розтягуванню посилань у межах своїх блоків */
}

.section-title {
  /* Налаштування для усіх заголовків секцій */
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.6;
  margin-bottom: 48px;
  text-align: center;
}

.section-title-accent {
  /* Налаштування акценту для заголовків секцій */
  color: var(--color-brand-light);
}
