/* Fonts - розділ для підключення шрифтів */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2")
    format("woff2");
}

/* ROOT -кореневий розділ для глобальних налаштувань */

* {
  /* Формат розрахунку загального розміру елементів */
  box-sizing: border-box;
}

:root {
  /*  Набір брендових кольорів */
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-text-regular: #000000;
}

.container {
  /* Налаштування контейнерів які містять у собі весь контент сайту */
  width: 100%;
  /* Базова ширина 1240px +2 padding по 24px зліва і справа 1240+48=1288px */
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  /* Налаштування базового шрифта сторінки */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  /* Налаштування кольору основного тексту */
  color: var(--color-brand-dark);
}

ul {
  /* Налаштування списків */
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* Видалення відступів зверху для заголовків та тексту (щоб не було випадання або схлопування */
  margin-top: 0;
}

.section-title {
  /* Налаштування для усіх заголовків секцій */
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.6;
  margin-bottom: 48px;
  text-align: center;
}

.section-title-accent {
  /* Налаштування акценту для заголовків секцій */
  color: var(--color-brand-light);
}

.header-nav-list-item-text {
  /* Налаштування елементів списку у хедері */
  /* Прибираємо маркування списку */
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-brand-dark);
}

.footer-nav-list-item-text {
  /* Налаштування елементів списку у футері */
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
}

/* HEADER */

.navigation-header {
  padding-bottom: 16.52px;
}

.header-nav-list-item-text:hover {
  font-weight: 700;
  color: var(--color-brand-light);
}

/* TITLE SECTION */

.title-section {
  /* Загальний відступ для секції "Title" від секції "About" */
  padding-bottom: 126.48px;
}

/* Uptext */

.title-section-uptext {
  /* Відступ між uptext та herotitle */
  margin-bottom: 16px;
  margin-top: 39.66px;
}

/* Hero Title */

.title-section-herotitle {
  /* Налаштування Заголовку */
  font-family: play, sans-serif;
  font-size: 140px;
  text-transform: capitalize;
  color: var(--color-brand-light);
  line-height: 0.8;
  margin-bottom: 40px;
}

/* Button */

.title-section-button {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 32px;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  cursor: pointer;
  padding: 16px 32px;
  margin-bottom: 14px;
}

.title-section-button:hover {
  /* Налаштування кнопки при наведенні курсору */
  color: var(--color-brand-dark);
  background-color: transparent;
}

/* Downtext */

.title-section-downtext {
  font-size: 12px;
  text-align: center;
  width: 238px;
  height: 36px;
  margin-bottom: 0;
}

/* ABOUT SECTION */

.flex-container-about {
}

/* Text obj */

.section-title.about {
  /* Унікальні налаштування для заголовку зі зміщення вліво*/
  line-height: 1.2;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 41px;
}

.about-section-text {
  font-size: 22px;
  line-height: 1.7;
}

.about-section-text.two {
  /* Унікальний margin після другого тексту */
  margin-bottom: 199px;
}

.about-section-text-accent {
  /* Налаштування акценту */
  font-weight: 600;
  text-transform: capitalize;
}

/* Image obj */

/* WHY SECTION */

.flex-container-why {
  padding: 0 90px 96px 90px;
}

/* PROCEDURES SECTION */

.flex-container-procedures {
  padding-bottom: 96px;
}

/* FIND SECTION */

.flex-container-find {
  padding: 0 113px 96px 76px;
}

/* FOOTER SECTION */

.flex-container-footer {
  margin: 56px 0;
}

.copyright {
  font-size: 13px;
}

/* Закінчив на налаштуванні падінгу для секції навігації у хедері */
