:root {
    /*  Набір брендових кольорів */
    --color-brand-light: #2b7fff;
    --color-brand-dark: #011c44;
    --color-text-regular: #000000;
    --color-icon-regular: #ffffff;
    --color-form-regular: #747272;
}