/* ABOUT SECTION */
.about-section {
  padding-bottom: 176px;

  &__flex {
    display: flex;
    justify-content: space-between;
    /* Розташування об'єктів за принципом пустого місця між ними */
    gap: 32px;
  }

  &__text-list {
    display: flex;
    flex-direction: column;
    /* Напрямок розташування (у стовпчик) об'єктів у флекс контейнері */
  }

  &__text {
    font-size: 22px;
    max-width: 700px;
    line-height: 1.7;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text-accent {
    font-weight: 600;
    text-transform: capitalize;
  }

  &__images-list {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
  }

  &__images-item {
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
    border-radius: 164px;
    &--first {
      right: 176px;
    }
  }

  &__star {
    position: absolute;
    &--small {
      width: 16px;
      height: 16px;
      top: 269px;
      right: 5.92px;
    }
    &--mid {
      top: 32px;
      right: -20px;
    }
    &--large {
      width: 64px;
      height: 64px;
      top: 336px;
      right: 294.5px;
    }
  }
}

.section-title.about {
  /* Унікальні налаштування для заголовку зі зміщення вліво*/
  line-height: 1.2;
  text-align: left;
  margin-bottom: 40px;
  margin-top: 41px;
  max-width: 529px;
}
