/* FOOTER SECTION */
.footer-section {
  padding: 56px 0;
  background-color: var(--color-brand-dark);

  &__logo-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: row;
      align-items: start;
      flex-basis: 50%;
      gap: 20px;
    }
  }

  &__nav-list {
    flex-basis: 50%;
  }

  &__logo-text {
    max-width: 84px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-brand-light);
  }

  &__nav-list-item {
    line-height: 1;
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: start;
    }
  }

  &__item {
    text-align: center;
    @media screen and (min-width: $bp-tablet) {
      text-align: left;
    }
  }

  &__item-text {
    /* Налаштування елементів списку у футері */
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 16px;
    transition-property: color;
    transition-duration: 0.2s;
    &:hover {
      color: var(--color-brand-light);
    }
  }
  &__item-text.regular {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__item-text.adaptive {
    display: flex;
    justify-content: center;
    @media screen and (min-width: $bp-tablet) {
      display: none;
    }
  }

  &__logo {
    flex-basis: 50%;
  }

  &__address-confidential {
    // display: none;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-basis: 50%;
      gap: 186px;
    }
  }

  &__nav-icons {
    fill: var(--color-icon-regular);
  }

  &__address-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 8px;
    @media screen and (min-width: $bp-tablet) {
      gap: 24px;
      margin-bottom: 0;
    }
  }

  &__copyright {
    font-size: 13px;
    color: #747272;
    margin-bottom: 0;
  }

  &__confidencial {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-basis: 50%;
      align-items: start;
    }
  }
}

.footer-adress-list {
  display: none;
  @media screen and (min-width: $bp-tablet) {
    display: block;
  }
}

.container.footer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  @media screen and (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

footer {
  display: flex;
  position: relative;
  /* Точка відносно якої буде відбуватися позиционування
  наступного елементу (footer::after) */
  max-width: 1488px;
  margin: auto;
  &::after {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      display: block;
      /* Додаємо в кінець футеру зображення із засобами для догляду */
      content: "";
      width: 247px;
      height: 152px;
      position: absolute;
      /* дозволяє вийняти контент з контексту та рухати
  його відносно найближчого єлемента з відображенням, що не є static */
      background-image: url(../images/chemicals.png);
      background-repeat: no-repeat;
      right: 0;
      bottom: -56px;
      /* Зміщення відбувається через наявність паддінгів у секції футеру */
    }
  }
}
