.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-icon-regular);
  transform: translateX(+100%);
  transition: transform 0.3s;
  z-index: 100;

  &__button-close {
    position: absolute;
    top: 16px;
    right: 20px;
    background-color: var(--color-brand-light);
    border: transparent;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  &__button-image {
    width: 12px;
    height: 12px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-left: 20px;
  }

  &__logo {
    width: 57px;
    height: 30px;
    margin-bottom: 32px;
  }

  &__list-images {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &.is-open {
    transform: translateX(0);
  }
}
