/* Form */
.form-field {
    color: var(--color-form-regular);
    max-width: 310px;
    max-height: 52px;
    margin: 0 auto;
    /* Задаємо вирівнювання для усіх елементів форми */
    margin-bottom: 24px;
}

.form-field:last-child {
    margin-bottom: 0;
}

.form-label {
    display: block;
}

.form-input {
    padding: 18px 32.85px;
    width: 100%;
    border: 2px solid var(--color-form-regular);
    border-radius: 32px;
    background-color: transparent;
    color: var(--color-icon-regular);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}

.form-input:focus {
    background-color: var(--color-form-regular);
    outline: none;
    color: var(--color-icon-regular);
}

.form-input::-moz-placeholder {
    color: var(--color-icon-regular);
}

.form-input::placeholder {
    color: var(--color-icon-regular);
}

.form-field.button {
    max-width: 295px;
    margin-bottom: 8px;
}

.form-submit-button {
    color: var(--color-icon-regular);
    font-weight: 600;
    font-size: 18px;
    border-radius: 32px;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    /* Додаємо видимі границі кнопки */
    cursor: pointer;
    /* Строка відповідає за відображення курсору при наведенні */
    padding: 16px 32px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.form-submit-button:hover {
    background-color: transparent;
}

.modal-confidential {
    text-decoration: none;
}

.modal-form-downtext {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    color: var(--color-form-regular);
    margin-bottom: 0;
}

.confidencial-link {
    color: var(--color-form-regular);
    text-underline-offset: 1px;
    /*  */
}