/* Modal window */
.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* Розтягуємо на все вікно затемнення екрану та фон */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px;
  transition: opacity 0.3s, visibility 0.3s;

  &--is-hidden {
    opacity: 0;
    /* Додає прозорість */
    visibility: hidden;
    /* Візуально приховує контент */
    pointer-events: none;
    /* Відключає взаємодію курсору з контентом */
  }

  &__modal {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 723px;
    max-height: 681px;
    padding: 42px 144px;
    background-color: #011c44;
    border-radius: 48px;
    color: var(--color-icon-regular);
    overflow-y: auto;
  }

  &__close-modal-button {
    position: absolute;
    right: 42px;
    top: 42px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  &__title-modal {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.15;
    padding: 0;
    text-align: center;
    margin-bottom: 40px;
  }

  &__modal-form-uptext {
    font-size: 21px;
    text-align: center;
    font-weight: 600;
    line-height: 1.17;
    max-width: 280px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
      font-size: 22px;
    }
  }

  &__modal-form-downtext-accent {
    color: var(--color-brand-light);
  }
}
