/* CSS Container */
/* Fonts */
@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2")
    format("woff2");
}

:root {
  /* Переменные цветов для сайта, на которые можно ссылаться */
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-text-regular: #000000;
}

/* Base */

/* При помощи этой записи все объекты на странице будут рассчитываться из заданных параметров а не накладываться друг на друга */
/* * {
  box-sizing: border-box;
} */

body {
  /* Настройка базового шрифта */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  /* Цвет основного текста */
  color: var(--color-brand-dark);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  margin: 48px 0px;
}
/* Header */
/* Hero title */
.navigation {
  display: inline;
}
.header-navigation {
  width: 1440px;
  height: 106px;
  /* Является отцовским элементом, по-этому задаются отступы при помощи margin */
  margin-bottom: 16px;
}

.hero-over-text {
  /* Двигается при помощи padding потому, что находится всредине отцовского элемента .hero-section */
  box-sizing: unset;
  width: 199px;
  height: 21px;
  padding-bottom: 16px;
}

.hero-section {
  height: 408px;
  width: 529px;
  margin: 0px 705px 126px 206px;
}

.hero-title {
  box-sizing: unset;
  font-family: Play, sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.8;
  color: var(--color-brand-light);
  margin-bottom: 0px;
  padding-bottom: 40px;
}

ul {
  /* Отключаем точки маркировки */
  list-style-type: none;
}

/* Links */
.links {
  /* Отключаем подчёркивание текста в ссылках */
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: var(--color-brand-dark);
}

.links:hover {
  font-weight: 700;
  color: var(--color-brand-light);
}

/* Button */
.main-button {
  background-color: var(--color-brand-light);
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
  width: 219px;
  height: 53px;
}

.main-button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.button-under-text {
  width: 238px;
  height: 36px;
  padding-top: 14px;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
  margin-bottom: 126px;
}

/* Main */
/* Sections exeptions-common */
.section-title {
  font-family: Play, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
}

.section-title.left {
  text-align: left;
  width: 529px;
  height: 148px;
  padding-bottom: 40px;
}

.section-title.whywe {
  width: 450px;
  text-align: center;
  height: 148px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.section-title .accent {
  color: var(--color-brand-light);
}

/* About section */
.about-section-item {
  font-family: "Roboto", sans-serif;
  width: 709px;
  font-size: 22px;
  line-height: 1.7;
}

.section-about {
  font-size: 22px;
  width: 709px;
  height: 456px;
  margin: 0px 631px 375px 100px;
  margin-bottom: 176px;
  padding-top: 40px;
}

.about-section-item .accent {
  font-weight: 600;
  text-transform: capitalize;
}

/* Why We section */
.whywe-section-item {
  counter-reset: var(--color-text-regular);
  text-align: center;
}

/* Procedures section */
.section-title.procedures {
  margin: 0 auto;
  text-align: center;
}

/* Contacts section */
.section-title.contact {
  margin: 0 auto;
  text-align: center;
}

/* Footer */

.address-item {
  /* Отключение подчёркиваний и наклонного текста в строке адрессных данных (умолчаний) */
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
}

.links.footer {
  font-size: 16px;
  color: #ffffff;
}

.copyright {
  color: #747272;
  font-size: 13px;
}
